<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Состав сборной Казахстана по футболу</title>
</head>
<body>
    <h1>Состав сборной Казахстана по футболу</h1>
    <table>
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Возраст</th>
                <th>Город рождения</th>
                <th>Рост</th>
                <th>Вес</th>
                <th>Амплуа</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Иванов Иван Иванович</td>
                <td>25</td>
                <td>Алматы</td>
                <td>180 см</td>
                <td>75 кг</td>
                <td>Нападающий</td>
            </tr>
            
        </tbody>
    </table>
</body>
</html>
